{% extends 'base.html' %}

{% block content %}
<!DOCTYPE html>
<html  >
<head>
    
</head>
<body>
    <section class="menu menu2 cid-soOEM6YTv9" once="menu" id="menu2-t">
    
        <nav class="navbar navbar-dropdown navbar-fixed-top navbar-expand-lg">
            <div class="container-fluid">
                <div class="navbar-brand">
                    <span class="navbar-logo">
                        <a href="https://mobiri.se">
                            <img src="static/assets/images/2021-01-13-220405-96x57.png" alt="Mobirise" style="height: 8rem;">
                        </a>
                    </span>
                    
                </div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <div class="hamburger">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav nav-dropdown nav-right" data-app-modern-menu="true">
                        <li class="nav-item"><a class="nav-link link text-black text-primary display-4 {{ 'active' if actice_page == 'home' else '' }}" href="/">HOME</a></li>
                        <li class="nav-item"><a class="nav-link link text-black text-primary display-4 {{ 'active' if actice_page == 'about' else '' }}" href="about">ABOUT</a></li>
                        <li class="nav-item"><a class="nav-link link text-black text-primary display-4 {{ 'active' if actice_page == 'login' else '' }}" href="https://git.data.go.th/explore">LOGIN</a></li>
                    </ul>
                    
                    
                </div>
            </div>
        </nav>
    </section>

<section class="header1 cid-s48MCQYojq mbr-fullscreen mbr-parallax-background" id="header1-f">

    

    <div class="mbr-overlay" style="opacity: 0.8; background-color: rgb(255, 255, 255);"></div>

    <div class="align-center container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8">
                <h2 class="mbr-section-title mbr-fonts-style mb-3 display-1"><strong>วัตถุประสงค์โครงการ</strong></h2>
                <h4><strong>
                {{ topics['obj'] }}
                

                </strong></h4>
                
                
            </div>
        </div>
    </div>
</section>

<section class="features1 cid-snpLRKW8sd" id="features2-m">

    

    
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-12 col-md-6 col-lg-3">
                <div class="card-wrapper">
                    <div class="card-box align-center">
                        <span class="mbr-iconfont mobi-mbri-credit-card mobi-mbri"></span>
                        <h4 class="card-title align-center mbr-black mbr-fonts-style display-5">
                            PROJECTS <br> {{ topics['totalproject'] }}
                        </h4>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <div class="card-wrapper">
                    <div class="card-box align-center">
                        <span class="mbr-iconfont mobi-mbri-contact-form mobi-mbri"></span>
                        <h4 class="card-title align-center mbr-black mbr-fonts-style display-5">NEW PROJECTS<br>  {{ topics['newproject'] }} </h4>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <div class="card-wrapper">
                    <div class="card-box align-center">
                        <span class="mbr-iconfont mobi-mbri-users mobi-mbri"></span>
                        <h4 class="card-title align-center mbr-black mbr-fonts-style display-5">
                           MEMBER<br>  {{ topics['member'] }}
                        </h4>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <div class="card-wrapper">
                    <div class="card-box align-center">
                        <span class="mbr-iconfont mobi-mbri-download mobi-mbri"></span>
                        <h4 class="card-title align-center mbr-black mbr-fonts-style display-5">DOWNLOAD <br> 
                            <a class="nav-link link text-black text-primary display-4 {{ 'active' if actice_page == 'report' else '' }}" href="report">รายละเอียดรายงาน</a>
                        
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="features1 cid-snpLUe8wh3" id="features1-n">
    

    
    <div class="container-fluid">
        <div class="row">
            
        </div>
        <div class="row">
            <div class="card col-12 col-md-6 col-lg-3">
                <div class="card-wrapper">
                    <div class="card-box align-center">
                        
                        
                        <p class="card-text mbr-fonts-style display-7">{{ topics['topic1'] }}</p>
                    </div>
                </div>
            </div>
            <div class="card col-12 col-md-6 col-lg-3">
                <div class="card-wrapper">
                    <div class="card-box align-center">
                        
                        
                        <p class="card-text mbr-fonts-style display-7">{{ topics['topic2'] }}</p>
                    </div>
                </div>
            </div>
            <div class="card col-12 col-md-6 col-lg-3">
                <div class="card-wrapper">
                    <div class="card-box align-center">
                        
                        
                        <p class="card-text mbr-fonts-style display-7">{{ topics['topic3'] }}</p>
                </div>
            </div>
            
        </div>
    </div>
</section><section style="background-color: #fff; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, sans-serif; color:#aaa; font-size:12px; padding: 0; align-items: center; display: flex;"><a href="https://mobirise.site/h" style="flex: 1 1; height: 3rem; padding-left: 1rem;"></a><p style="flex: 0 0 auto; margin:0; padding-right:1rem;">This <a href="https://mobirise.site/e" style="color:#aaa;">page</a> was built with Mobirise</p></section><script src="assets/web/assets/jquery/jquery.min.js"></script>  <script src="assets/popper/popper.min.js"></script>  <script src="assets/tether/tether.min.js"></script>  <script src="assets/bootstrap/js/bootstrap.min.js"></script>  <script src="assets/smoothscroll/smooth-scroll.js"></script>  <script src="assets/parallax/jarallax.min.js"></script>  <script src="assets/dropdown/js/nav-dropdown.js"></script>  <script src="assets/dropdown/js/navbar-dropdown.js"></script>  <script src="assets/touchswipe/jquery.touch-swipe.min.js"></script>  <script src="assets/theme/js/script.js"></script>  
  
  
</body>
</html>

{% endblock %}